/*.sidebar {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  flex-wrap: nowrap;*/
/*  justify-content: space-between;*/
/*  margin-right: 20px;*/
/*  max-height: 100vh;*/

/*}*/


.logo {
  margin-top: 20px;
  background-image: url("/img/logo_footer.png");
  width: 279px;
  height: 105.07px;
  margin-bottom: 20px;
}

.copryght {
  background-image: url("/img/copry.png");
  width: 370px;
  height: 15px;
  color: #2D425B;
}

.not-found-image {
  background-size: cover;
}
